<body>
    <div class="container">
  		<ul class="social_media">
      	<li>
      	<a href="https://www.linkedin.com/in/simonbabba" class="linkedin"><i class="fa fa-linkedin fa-5x"></i></a>
      	</li>
      
      <li>
      <a href="https://github.com/jafoole" class="github"> <i class="fa fa-github fa-5x"></i></a>
      </li>
      
      <li>
        <a href="https://twitter.com/jafoole" class="twitter"> <i class="fa fa-twitter fa-5x"></i></a>
      </li>
    
        
    </ul>
    </div>
</body>