<body>
  <div class="main home">
  <div class="jumbotron">
    <div class="container">
    <h1>Hello. My name is <span class="highlight">Simon Babba</span> and I have creative ideas and build websites.</h1>
    <div class="btn" href="portfolio">View my Work</div>
    </div>
    
    </div>
  </div>
  
</body>







